/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
  background-image:url(https://prog-8.com/images/html/advanced/top_en.png
);
background-size:cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Write your code below */
*{
  text-align:center;
}
h1 {
  font-size:45px;
  color:white;
  opacity:0.7;
  letter-spacing:5px;
  padding-bottom:10px;
}

p{
  color:white;
  opacity:0.7;
}
.a1{
  color:white;
  opacity:0.7;
}
.a1-1{
  padding-bottom:3px;
}

.a3{
  margin-top:10px;
  margin-bottom:10px;
}

.a4{
  padding-top:180px;
  padding-bottom:100px;
}

.btn{
  color:white;
  opacity:0.8;
  padding:12px 24px;
  display:inline-block;
}
.btn:hover{
  opacity:1;
}

.email{
  background-color:#239b76;
  margin-top:20px;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
  margin-bottom:20px;
}
.twitter{
  background-color:#55acee;
}
